section.certificate 
    .container 
        .certificate__wrapper 
            .certificate__content 
                h4.certificate__subtitle.subtitle Createx Certificate
                h3.certificate__title.title Your expertise will be confirmed
                .certificate__txt We are accredited by international professional organizations and institutes:
                .certificate__brands
                    img(src="./images/brands/del-mar.svg" alt="brand")
                    img(src="./images/brands/national.svg" alt="brand")
                    img(src="./images/brands/sentinal.svg" alt="brand")
            .certificate__img 
                img(src="./images/certificate/certificate.svg" alt="certificate")