section.footer-subscribe 
    .container
        h4.footer-subscribe__subtitle.subtitle Don’t miss anything
        h3.footer-subscribe__title.title Subscribe to the Createx School announcements
        form.footer-subscribe__form(action="" method="POST")
            input.footer-subscribe__text(type='text' name='form-subscribe' id='form-subscribe__text' required placeholder='Your working email')
            input.footer-subscribe__btn.activeBtn(type='button' name='form-subscribe' value='Subscribe')
        .footer-subscribe__img 
            .left-img 
                img(src="./images/subscribe/subscribe_illustration.svg" alt="illustration")
            .right-img 
                img(src="./images/subscribe/subscribe_illustration.svg" alt="illustration")