.container 
    .footer__body 
        .footer__item 
            a(href="./index.html").footer__logo 
                img(src="./images/footer/footer_logo.svg" alt="logo")
            .footer__txt  Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country. 
            .footer__icons
                a(href="#") 
                    i.icon-facebook
                a(href="#")
                    i.icon-instagram
                a(href="#")
                    i.icon-twitter
                a(href="#")
                    i.icon-linkedin
                a(href="#")
                    i.icon-facebook
                a(href="#")
                    i.icon-instagram
        .footer__content
            .footer__map 
                .footer__title  site map
                a(href="./about-us.html").footer__link  About Us
                a(href="./courses.html").footer__link  Courses
                a(href="./events.html").footer__link  Events
                a(href="./contacts.html").footer__link  Contacts
            .footer__courses 
                .footer__title  courses
                a(href="./courses.html").footer__link  Marketing
                a(href="./courses.html").footer__link  Management
                a(href="./courses.html").footer__link  HR & Recruting
                a(href="./courses.html").footer__link  Design
                a(href="./courses.html").footer__link  Development
            .footer__contacts
                .footer__title contacts
                a(href="tel:4055550128").footer__phone  (405) 555-0128 
                a(href="gmail:hello@createx.com").footer__email  hello@createx.com
        .footer__item
            .footer__title  signup to our newsletter
            form.footer__form(action="")
                input(type="email" placeholder="Email address")
                button.icon-right
            .footer__seo *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.
.footer__bottom
    .container
        .footer__made © All rights reserved. Made with
            span by Createx Studio 
        .footer__gotop 
            a(href="#") go to top 
