.header-top
    .header-top__wrapper
        nav.header-top__content
            input#menu__btn(type='checkbox' name='checkbox__button')
            label.header-top__btn(for='menu__btn')
                span
            .header-top__logo
                a(href='index.html')
                    img(src='./images/logo/logo.svg' alt='createX')
            ul.header-top__menu
                li.header-top__list
                    a(href='./about-us.html') about us 
                li.header-top__list
                    a(href='./courses.html') course  
                li.header-top__list
                    a(href='./events.html') events 
                li.header-top__list
                    a(href='./contacts.html') contacts
                li
                    a.header-form__btn.largeBtn(href='#') Get consulation  
        .header-form
            a.header-form__btn.largeBtn(href='#') Get consulation
            a.header-form__popup(href='#popup')
                img(src='./images/iconElements/admin.svg' alt='admin')
            a.header-form__register(href='#popup') Log in / Register