section.slider
    .container
        h4.slider__subtitle.subtitle testimonials
        h3.slider__title.title What our students say
        .slider__body
            .slider__item
                .slider__icon 
                    img(src="./images/iconElements/sliderElements.svg" alt="elements")
                .slider__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                .slider__student
                    .slider__img 
                        img(src="./images/slider/students/avatar.png" alt="avatar")
                    .slider__name 
                        p Eleanor Pena
                        span Position, Course
            .slider__item
                .slider__icon 
                    img(src="./images/iconElements/sliderElements.svg" alt="elements")
                .slider__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                .slider__student
                    .slider__img 
                        img(src="./images/slider/students/avatar.png" alt="avatar")
                    .slider__name 
                        p Eleanor Pena
                        span Position, Course
            .slider__item
                .slider__icon 
                    img(src="./images/iconElements/sliderElements.svg" alt="elements")
                .slider__txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                .slider__student
                    .slider__img 
                        img(src="./images/slider/students/avatar.png" alt="avatar")
                    .slider__name 
                        p Eleanor Pena
                        span Position, Course
        .slider__btn 
            span.icon-left.slider-left
            span.icon-right.slider-right