// ! fonts
$Lato: "Lato";
$Icon: "icomoon";

// ! ui
$BtnBcg: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$transition: all 0.4s ease-in-out;
$titleColor: #1e212c;
$btnColor: #ff3f3a;
$txtColor: #424551;

// ! popup
$popupTitle: #1e212c;
$popupSubTitle: #787a80;
$popupFormInputTitle: #424551;
$popupFormBtnColor: #ff3f3a;
$popupFormPlaceholderColor: #9a9ca5;

// ! header
$headerLinkColor: #424551;
$headerHoverLinkColor: #ff3f3a;

// ! main
$mainWhyList: #424551;
$mainBcg: #ffd9d6;

// ! courses
$coursesMarketingColor: #03cea4;
$coursesManagementColor: #5a87fc;
$coursesManagementColor: #5a87fc;
$coursesRecrutingColor: #f89828;
$coursesDesignColor: #f52f6e;
$coursesPriceColor: #ff4242;
$coursesNameColor: #1e212c;
$coursesTeacherNameColor: #787a80;
$coursesBorderColor: #e5e8ed;

// ! main tabs
$tabsActiveColor: #ff3f3a;
$tabsColor: #9a9ca5;
$tabsTitleColor: #1e212c;

// ! main lectures
$lecturesBigNumberColor: #ff3f3a;
$lecturesLittleColor: #787a80;

// ! main team
$slidercg: #f4f5f6;
$sliderTeacherColor: #424551;
$sliderCourseColor: #787a80;
$sliderImgBcgColor: #ffcf2d;
$sliderButtonBcgColor: #ff3f3a;

// ! main post
$mainpostdataColor: #787a80;
$mainPostContentTitle: #1e212c;
$mainPostArrowColor: #ff3f3a;

// ! about us
$aboutUsValuesTxtColor: #787a80;
// ! contacts

$contactsInfoColor: #787a80;
$contactsIconColor: #ff3f3a;

// ! footer
$footerLinkCOlor: #a5a6ab;
