.header-body
    .header-body__content
        .header-body__play
            img(src="./images/iconElements/play-icon.svg" alt="play-icon")
            span Play showreel
        h1.header-body__title Enjoy studying with Createx Online Courses
            img(src="./images/iconElements/three-shapes.svg", alt="element")     
        .header-body__btn 
            a(href="./about-us.html").btn About us     
            a(href="./courses.html").btn Explore courses
            img(src="./images/iconElements/vector.svg", alt="element")     
    .header-body__img
        img(src="./images/illustration/header__illustration.svg" alt="illustration")
    .header__elements   
        .bottom-arrow  
            img(src="./images/iconElements/bottom-arrow.svg", alt="element")
        .top-arrow  
            img(src="./images/iconElements/top-arrow.svg", alt="element")
        .dots 
            img(src="./images/iconElements/dots.svg", alt="element")
        .circle 
            img(src="./images/iconElements/circles.svg", alt="element")                            