.header-number  
    .header-number__wrapper
        #counter 
            .header-number__item  
                .header-number__digit(data-num="1") 1200  
                .header-number__text Students graduated
            .header-number__item 
                .header-number__digit.number-dots(data-num="84") 84
                .header-number__text Completed courses
            .header-number__item 
                .header-number__digit.number-dots(data-num="16") 16 
                .header-number__text Qualified tutors
            .header-number__item  
                .header-number__digit.number-dots(data-num="5") 5
                .header-number__text Years of experience                                    