@media screen and (max-width: 1023px) {
    .main-post {
        &__body {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            flex: 0 0 47%;
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .main-post {
        &__item {
            flex: 0 0 100%;
            margin: 0 0 40px 0;
            &:nth-child(2) {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .main-post {
        margin: 60px 0px;
        &__top {
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }
        &__subtitle {
            text-align: center;
            margin-bottom: 0px;
        }
        &__title {
            font-size: 3.6em;
        }
        &__btn {
            display: none;
            flex: 0 0 100%;
            &.mediaBtn {
                display: block;
                margin-top: 30px;
            }
        }
        &__info {
            justify-content: space-between;
        }
        &__data {
            margin: 0;
        }
    }
}
