section.main-courses 
    .main-courses__wrapper 
        h4.main-courses__subtitle.subtitle ready to learn?
        .main-courses__top
            h3.main-courses__title.title Featured Courses
            a.main-courses__btn(href="./courses.html").btn   View all courses 
        .main-courses__body 
            .main-courses__item 
                .main-courses__img.marketing-img 
                    img(src="./images/course/man-1.png" alt="teacher")
                .courses__content
                    .courses__type 
                        span.marketing Marketing
                    .courses__name The Ultimate Google Ads Training Course
                    .courses__price 
                        p $100
                        span by Jerome Bell
            .main-courses__item 
                .main-courses__img.management-img 
                    img(src="./images/course/man-2.png" alt="teacher")
                .courses__content
                    .courses__type 
                        span.management Management
                    .courses__name Prduct Management Fundamentals
                    .courses__price 
                        p $480
                        span by Marvin McKinney
            .main-courses__item 
                .main-courses__img.recruting-img
                    img(src="./images/course/man-3.png" alt="teacher")
                .courses__content 
                    .courses__type 
                        span.recruting HR & Recruting
                    .courses__name HR  Management and Analytics
                    .courses__price 
                        p $200
                        span by Leslie Alexander Li
            .main-courses__item 
                .main-courses__img.marketing-girl-img
                    img(src="./images/course/girl-1.png" alt="teacher")
                .courses__content
                    .courses__type 
                        span.marketing Marketing
                    .courses__name Brand Management & PR Communications
                    .courses__price 
                        p $530
                        span by Kristin Watson
            .main-courses__item 
                .main-courses__img.management-girl-img
                    img(src="./images/course/girl-2.png" alt="teacher")
                .courses__content
                    .courses__type 
                        span.management Management
                    .courses__name Business Development Management
                    .courses__price 
                        p $400
                        span by Dianne Russell
            .main-courses__item 
                .main-courses__img.design-img
                    img(src="./images/course/man-4.png" alt="teacher")
                .courses__content
                    .courses__type 
                        span.design Design
                    .courses__name Graphic Design Basic
                    .courses__price 
                        p $500
                        span by Guy Hawkins
            a.main-courses__btn(href="./courses.html").btn   View all courses 