section.tab
    .tab__top 
        h4.tab__subtitle.subtitle Our benefits
        h3.tab__title.title That’s how we do it
    .tab__header
        .tab__link.active Experienced Tutors
            span.icon-star-empty
        .tab__link Feedback & Support
            span.icon-like
        .tab__link 24/7 Online Library
            span.icon-books
        .tab__link Community
            span.icon-bubbles4
    .tab-body
        .tab-body__item.active
            .tab-body__content
                .tab-body__title.title Only practicing tutors 
                p.tab-body__txt Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            .tab-body__img 
                img(src="./images/illustration/how__illustration.svg" alt="illustration")
        .tab-body__item
            .tab-body__content
                .tab-body__title.title Feedback & Support 
                p.tab-body__txt Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            .tab-body__img 
                img(src="./images/illustration/how__illustration.svg" alt="illustration")
        .tab-body__item
            .tab-body__content
                .tab-body__title.title 24/7 Online Library 
                p.tab-body__txt Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            .tab-body__img 
                img(src="./images/illustration/how__illustration.svg" alt="illustration")
        .tab-body__item
            .tab-body__content
                .tab-body__title.title Community 
                p.tab-body__txt Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras massa ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            .tab-body__img 
                img(src="./images/illustration/how__illustration.svg" alt="illustration")
        