section.main-lectures 
    .container
        h4.main-lectures__subtitle.subtitle Our Events
        h3.main-lectures__title.title Lectures & workshops 
        .main-lectures__wrapper 
            .main-lectures__item 
                .main-lectures__data 
                    .main-lectures__number 05
                    .main-lectures__month   
                        p August 
                        span 11:00 – 14:00
                .main-lectures__content 
                    .main-lectures__txt 
                        p Formation of the organizational structure of the company in the face of uncertainty.
                        span Onine master-class
                    .main-lectures__btn 
                        a(href="#").btn View more 
            .main-lectures__item 
                .main-lectures__data 
                    .main-lectures__number 05
                    .main-lectures__month   
                        p August 
                        span 11:00 – 14:00
                .main-lectures__content 
                    .main-lectures__txt 
                        p Formation of the organizational structure of the company in the face of uncertainty.
                        span Onine master-class
                    .main-lectures__btn 
                        a(href="#").btn View more
            .main-lectures__item 
                .main-lectures__data 
                    .main-lectures__number 05
                    .main-lectures__month   
                        p August 
                        span 11:00 – 14:00
                .main-lectures__content 
                    .main-lectures__txt 
                        p Formation of the organizational structure of the company in the face of uncertainty.
                        span Onine master-class
                    .main-lectures__btn 
                        a(href="#").btn View more
            .main-lectures__bottom 
                .main-lectures__suggestion Do you want more?
                .main-lectures__events
                    a(href="./events.html").activeBtn Explore all events 
