section.main-post 
    .container 
        h4.main-post__subtitle.subtitle Our blog
        .main-post__top
            h3.main-post__title.title Latest posts
            a(href="./blog.html").main-post__btn.activeBtn  Go to blog
        .main-post__body
            .main-post__item 
                .main-post__img 
                    .main-post__direction 
                        i.icon-microphone  
                            span Podcast
                .main-post__content 
                    .main-post__info
                        .main-post__course Marketing
                        .main-post__data
                            span September 4, 2020
                        .main-post__time 36 min
                .main-post__head What is traffic arbitrage and does it really make money?
                .main-post__txt Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                .main-post__next
                    a(href="./blog.html")  Listen
            .main-post__item 
                .main-post__img 
                    .main-post__direction 
                        i.icon-microphone  
                            span Podcast
                .main-post__content 
                    .main-post__info
                        .main-post__course Marketing
                        .main-post__data
                            span September 4, 2020
                        .main-post__time 36 min
                .main-post__head What is traffic arbitrage and does it really make money?
                .main-post__txt Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                .main-post__next
                    a(href="./blog.html")  Listen
            .main-post__item 
                .main-post__img 
                    .main-post__direction 
                        i.icon-microphone  
                            span Podcast
                .main-post__content 
                    .main-post__info
                        .main-post__course Marketing
                        .main-post__data
                            span September 4, 2020
                        .main-post__time 36 min
                .main-post__head What is traffic arbitrage and does it really make money?
                .main-post__txt Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                .main-post__next
                    a(href="./blog.html")  Listen
            a(href="./blog.html").main-post__btn.activeBtn.mediaBtn  Go to blog

