section.main-team 
    .container    
        h4.main-team__subtitle.subtitle Best tutors are all here
        .main-team__top 
            .main-team__title.title Meet our team
            .team-slider__btn 
                span.icon-left
                span.icon-right
        .team-slider 
            .team-slider__body 
                .team-slider__item 
                    .team-slider__img 
                        img(src="./images/slider/teachers/girl-2.png" alt="teacher")
                    .team-slider__content 
                        .team-slider__name Dianne Russell
                        .team-slider__course Founder and CEO
                .team-slider__item 
                    .team-slider__img 
                        img(src="./images/slider/teachers/man.png" alt="teacher")
                    .team-slider__content 
                        .team-slider__name Jerome Bell
                        .team-slider__course Founder and Program Director
                .team-slider__item 
                    .team-slider__img 
                        img(src="./images/slider/teachers/girl.png" alt="teacher")
                    .team-slider__content 
                        .team-slider__name Kristin Watson
                        .team-slider__course Curator of Marketing Course
                .team-slider__item 
                    .team-slider__img 
                        img(src="./images/slider/teachers/man-2.png" alt="teacher")
                    .team-slider__content 
                        .team-slider__name Marvin McKinney
                        .team-slider__course PM, Curator of Management Course
                .team-slider__item 
                    .team-slider__img 
                        img(src="./images/slider/teachers/man.png" alt="teacher")
                    .team-slider__content 
                        .team-slider__name Dianne Russell
                        .team-slider__course Founder and CEO