section.main-why 
    .main-why__wrapper 
        .main-why__img 
            img(src="./images/people/girl_photo.webp", alt="girlPhoto")
        .main-why__content
            h4.main-why__subtitle.subtitle Who we are
            h3.main-why__title.title why createx?
            ul.main-why__menu 
                li.main-why__list A fermentum in morbi pretium aliquam adipiscing donec tempus.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
                li.main-why__list Vulputate placerat amet pulvinar lorem nisl.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
                li.main-why__list Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
                li.main-why__list Etiam duis lobortis in fames ultrices commodo nibh.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
                li.main-why__list Tincidunt sagittis neque sem ac eget.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
                li.main-why__list Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
                    span 
                        img(src="./images/iconElements/tick.svg", alt="tick")
            .main-why__btn 
                a(href="./about-us.html").activeBtn More about us 