doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/normalize.css")
        link(rel="stylesheet" href="./style/icon.css")
        link(rel="stylesheet" href="./style/slick.css")
        link(rel="stylesheet" href="./style/style.css")
        title Online Course
    body
        .wrapper 
            .container 
                .blog
                    .number 404
                    .text
                        span Ooops...
                        span page not found
                    a(href="./index.html").activeBtn Go Back
        script(src="./js/script.min.js") 
        script(src="./js/slick.min.js")  
        script(src="./js/script.js") 
