html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/normalize.css")
        link(rel="stylesheet" href="./style/icon.css")
        link(rel="stylesheet" href="./style/slick.css")
        link(rel="stylesheet" href="./style/style.css")
        title Online Course
    body 
        .wrapper 
            header
                .container
                    include blocks/headerTop
                    include blocks/popup
            main.main
                .container
                    .main__top
                        .main__subtitle.subtitle Enjoy your studying!
                        .main__title.title  Our online courses
                    section.main__body
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-1.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    The Ultimate Google Ads Training Course
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-2.png" alt="teacher")
                            .main-content 
                                .main-content__direction.management  Marketing
                                .main-content__title    Prduct Management Fundamentals
                                .main-content__info 
                                    p $480
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-3.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    HR & Recruting
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/girl-2.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    The Ultimate Google Ads Training Course
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-4.png" alt="teacher")
                            .main-content 
                                .main-content__direction.management  Marketing
                                .main-content__title    Prduct Management Fundamentals
                                .main-content__info 
                                    p $480
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/girl-1.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    HR & Recruting 
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-1.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    The Ultimate Google Ads Training Course
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-2.png" alt="teacher")
                            .main-content 
                                .main-content__direction.management  Marketing
                                .main-content__title    Prduct Management Fundamentals
                                .main-content__info 
                                    p $480
                                    span by Jerome Bell
                        .main__item
                            .main__img 
                                img(src="./images/course/OnlineCourses/man-3.png" alt="teacher")
                            .main-content 
                                .main-content__direction.marketing  Marketing
                                .main-content__title    HR & Recruting
                                .main-content__info 
                                    p $100
                                    span by Jerome Bell
                include blocks/slider
                include blocks/certificate
                include blocks/footerSubscribe
            footer.footer
                include blocks/footer
        script(src="./js/script.min.js") 
        script(src="./js/slick.min.js")  
        script(src="./js/script.js") 
