html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/normalize.css")
        link(rel="stylesheet" href="./style/icon.css")
        link(rel="stylesheet" href="./style/style.css")
        title Online Course
    body 
        .wrapper 
            header
                .container
                    include blocks/headerTop
                    include blocks/popup
            main.main 
                .container 
                    .main__subtitle.subtitle Our events
                    .main__title.title Lectures, workshops & master-classes
                    .main-lectures__wrapper 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 05
                                .main-lectures__month   
                                    p August 
                                    span 11:00 – 14:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p Formation of the organizational structure of the company in the face of uncertainty.
                                    span Onine master-class
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 24
                                .main-lectures__month   
                                    p July 
                                    span 11:00 – 12:30
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p Building a customer service department. Best Practices.
                                    span Onine lecture
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 16
                                .main-lectures__month   
                                    p July 
                                    span 10:00 – 13:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p How to apply methods of speculative design in practice. Worldbuilding prototyping.
                                    span Onine workshop
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 18
                                .main-lectures__month   
                                    p May 
                                    span 10:00 – 12:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p The company's business page as an additional tool to support the announcement of vacancies.
                                    span Onine lecture
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 20
                                .main-lectures__month   
                                    p November 
                                    span 11:00 – 14:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p Formation of the organizational structure of the company in the face of uncertainty.
                                    span Onine master-class
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 13
                                .main-lectures__month   
                                    p August 
                                    span 11:00 – 14:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p Building a customer service department. Best Practices.
                                    span Onine master-class
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                        .main-lectures__item 
                            .main-lectures__data 
                                .main-lectures__number 05
                                .main-lectures__month   
                                    p August 
                                    span 11:00 – 14:00
                            .main-lectures__content 
                                .main-lectures__txt 
                                    p Formation of the organizational structure of the company in the face of uncertainty.
                                    span Onine master-class
                                .main-lectures__btn 
                                    a(href="#").btn View more 
                include blocks/footerSubscribe
        footer.footer
            include blocks/footer