.header {
    position: relative;
    background-color: $mainBcg;
    &__elements {
        .bottom-arrow {
            position: absolute;
            top: 0px;
        }
        .top-arrow {
            position: absolute;
            top: 133px;
            left: 133px;
        }
        .dots {
            position: absolute;
            bottom: 194px;
            right: 0;
        }
        .circle {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.header-body {
    margin-top: 135px;
    @include flex(space-between, center);
    &__content {
        margin-top: -28px;
        flex: 0 0 50%;
    }

    &__play {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        span {
            @include font($Lato, 1.4em, 700);
            color: $titleColor;
        }
    }

    &__title {
        @include font($Lato, 6.4em, 900);
        color: $titleColor;
        line-height: 83.2px;
        margin-bottom: 60px;
        padding-right: 50px;
    }

    &__btn {
        position: relative;
        display: flex;
        a {
            margin-right: 25px;
        }
        img {
            position: absolute;
            top: 80px;
            right: 170px;
        }
    }

    &__img {
        flex: 0 0 50%;
    }
}
